.table-responsive > .table-bordered {
    border: 1px solid #dee2e6 !important;
}
.btn-grad {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
.btn-grad {

   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.sl{
    width:15px;
}
.style_button{
    padding-left:10px;
    padding-right:10px;
    margin-right:4px;
}
.profile-user-img-student,.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 343px;
}
.student-info{
    width:80%;
}

td,th {
    text-align: center;
  }

  table {
    border-collapse: collapse;
}
.card-header{
    background:transparent;

}
table th {
    border: 1px solid #555;
    background-color: transparent;
    padding:5px;
    font-weight:bold;
    text-align:center;

}
table td {
    border: 1px solid #555;
    background-color: transparent;
    padding:5px;
    text-align:center;
}
.rowspan {
    border-left-width: 10px;
}
.lg-col{
    width:270px;
}
.course-info-bar{
    flex:1;
    flex-direction:row;
    justify-content: space-between;
}

.content-wrapper{
    margin-top:3%;
    background-color: transparent;
}

div.content-wrapper nav {
    border: 1px solid #ccc;
    border-radius: 5px;
}


div.content-wrapper ul {
    flex:1;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}



div.content-wrapper nav.navbar ul li a, div.content-wrapper nav.navbar ul li a.active  {
    
    border: 1px solid transparent;
    border-radius: 3px;
}

div.content-wrapper nav.navbar ul li a:hover, div.content-wrapper nav.navbar ul li a.active  {
    background-color: lightblue;
    color: black;
}

.small-box {
    padding: 15px;
    margin-bottom: 0px;
}

.small-box .icon > i{
    font-size: 45px !important;
}

.card-header {
    background: whitesmoke !important;
}

.card-title {
    color: #000;
}