.table-responsive > .table-bordered {
    border: 1px solid #dee2e6 !important;
}
.btn-grad {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
.btn-grad {

   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.sl{
    width:15px;
}
.style_button{
    padding-left:10px;
    padding-right:10px;
    margin-right:4px;
}
.profile-user-img-student {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 343px;
}
.student-info{
    width:80%;
}
.small-box .icon>i{
    font-size: 50px !important;
    position: absolute;
    right: 15px;
    top: 5px !important;
}
td,th {
    text-align: center;
  }
